body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
navigation ul {
    list-style: none;
    padding:0;
}
navigation li {
    display: inline;
    margin-right: 10px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
}